section.home-section3
    .container
        h2.alibu-title Special Offer
        .section3-wrapper-top
            .image
                img(src="./img/4.png", alt="")
            .offer
                p.alibu-description Private retreats weekly stay
                p Enjoy an exclusive weekly rate on your home away from home when you stay seven or more nights in a Pool Villa within the Private Retreats collection.
                .btn-detail
                    a(href="javascript:void(0)").text-btn Detail
                a(href="javascript:void(0)").else All OFFER
        .section3-wrapper-bot
            form.so-book
                .form-group
                    label(for="ckin-date") Check in
                    br
                    input#datepicker(type="date")
                .form-group
                    label(for="ckout-date") Check Out
                    br
                    input#ckout-date(type="date")
                .form-group
                    label(for="ckout-date") Adults (13+)
                    br
                    select(name="number-adult")
                        option(value="1") 1
                        option(value="1") 1
                        option(value="1") 1
                        option(value="1") 1
                .form-group
                    label(for="ckout-date") Children (0-12)
                    br
                    select(name="number-child")
                        option(value="1") 1
                        option(value="1") 1
                        option(value="1") 1
                        option(value="1") 1
                .form-group
                    label(for="ckout-date") Promotion
                    br
                    input#ckout-date(type="text")
                .form-group
                    button Check Rates