header.alibu-header
    .container
        .header-wrapper
            .left-header
                .menu-respons-left
                    ul
                        li
                            a(href="javascript:void(0)") Introduction
                        li
                            a(href="javascript:void(0)") Stay
                        li
                            a(href="javascript:void(0)") Taste
                        li
                            a(href="javascript:void(0)") Events
                        li
                            a(href="javascript:void(0)") Experience
                        li
                            a(href="javascript:void(0)") Nearby
            .mid-header
                img(src="./img/logo.png", alt="")
            .right-header
                .menu-respons-right
                    ul
                        li
                            a(href="javascript:void(0)") Offer
                        li
                            a(href="javascript:void(0)") Press
                        li
                            a(href="javascript:void(0)") Gallery
                        li
                            a(href="javascript:void(0)") Contact
                .language-wrapper
                    .language-active
                        span EN
                        em.mdi.mdi-chevron-down
                    .language-list
                        a(href="javascript:void(0)").language-items EN
                        a(href="javascript:void(0)").language-items VN
                .social-connect
                    a(href="javascript:void(0)")
                        i.fab.fa-facebook-square
                    a(href="javascript:void(0)")
                        i.fab.fa-instagram
                .book
                    a(href="javascript:void(0)") book now
                .menu-wrapper
                    .bar1
                    .bar2
                    .bar3
        //- .mobile-wrapper