section.home-section2#section2
    .container
        h2.alibu-title Discover Alibu Resort Nha Trang
        .section2-wrapper
            p.alibu-description Beyond a 5-star sanctuary, Alibu Resort offers a wide range of Exclusive and Personalised Service of the Highest Standards, ensuring every guest enjoys a holiday full of Happiness, Tranquility, Wellness and Memories. 
            .image-wrapper
                .image
                    img(src="./img/1.png", alt="")
                .image
                    img(src="./img/2.png", alt="")
                .image
                    img(src="./img/3.png", alt="")
            p Prominently located along the shores of Bai Dai Beach, widely regarded as one of the world’s most stunning beaches, within a 5-minute drive from Cam Ranh International Airport and a 40-minute drive from Nha Trang City center, Alibu Resort is the only luxury hotel to offer guests a vibrant yet sophisticated place where Santorini-inspired designs meet the exclusive All-day activities concept. At Alibu Resort the ”FUN NEVER ENDS“. Featuring mesmerizing views overlooking the magnificent South East Sea, a spectacular infinity pool, outstanding Food and Beverage Outlets, Wellness SPA, exquisite blue & white accommodations, Alibu Resort promises to bring you a taste of Mediterranean serenity right in the heart of sun-kissed Bai Tien beach, Nha Trang, Khanh Hoa. 
            .btn-detail
                a(href="javascript:void(0)").text-btn About Us