section.home-section5
    .container
        h2.alibu-title At the resort
        h3.alibu-description You’ll have a chance to reconnect with your loved ones – whether you take to the East Sea by kayak or simply savour quiet moments in your own tranquil villa.
        .row
            .col-lg-8.col-md-8.col-sm-12.col-12.section5-image
                a(href="javascript:void(0)")
                    .image
                        img(src="./img/11.png", alt="")
                    h4 Aroma Restaurant
            .col-lg-4.col-md-4.col-sm-6.col-6.section5-image
                a(href="javascript:void(0)")
                    .image
                        img(src="./img/12.png", alt="")
                    h4 
                        Wine cellar
            .col-lg-4.col-md-4.col-sm-6.col-6.section5-image
                a(href="javascript:void(0)")
                    .image
                        img(src="./img/13.png", alt="")
                    h4 Spa
            .col-lg-4.col-md-4.col-sm-6.col-6.section5-image
                a(href="javascript:void(0)")
                    .image
                        img(src="./img/14.png", alt="")
                    h4 Kid clubs
            .col-lg-4.col-md-4.col-sm-6.col-6.section5-image
                a(href="javascript:void(0)")
                    .image
                        img(src="./img/15.png", alt="")
                    h4 Water sports