extends _layout.pug

block var
	- var title = 'Trang chủ'
	- var bodyClass = 'home-page'

block main
	include ../components/home/section1/index
	include ../components/home/section2/index
	include ../components/home/section3/index
	include ../components/home/section4/index
	include ../components/home/section5/index
	include ../components/home/section6/index
	include ../components/home/section7/index