section.home-section6
    .container
        h2.alibu-title Testimonials
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    p Shining a light on Vietnam’s cultural heartland, Alibu Resort Nha Trang, Vietnam, offers an illuminating connection to three extraordinary UNESCO sites from a private kilometre-long stretch of one of Forbes’ “best beaches in the world.”
                    span Extrait Gourbil Jean (26.02.2009) Charleville Mézières , France
                .swiper-slide
                    p Shining a light on Vietnam’s cultural heartland, Alibu Resort Nha Trang, Vietnam, offers an illuminating connection to three extraordinary UNESCO sites from a private kilometre-long stretch of one of Forbes’ “best beaches in the world.”
                    span Extrait Gourbil Jean (26.02.2009) Charleville Mézières , France
                .swiper-slide
                    p Shining a light on Vietnam’s cultural heartland, Alibu Resort Nha Trang, Vietnam, offers an illuminating connection to three extraordinary UNESCO sites from a private kilometre-long stretch of one of Forbes’ “best beaches in the world.”
                    span Extrait Gourbil Jean (26.02.2009) Charleville Mézières , France
        .swiper-pagination