section.home-section7
    .container
        h2.alibu-title Nearby location
        .section7-wrapper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        figure
                            .image
                                img(src="./img/16.png", alt="")
                            figcaption
                                h3 
                                    a(href="javascript:void(0)") Co Tien mountain
                                p Bai Tien, Pham Van Dong Street, Nha Trang City, Khanh Hoa Province
                    .swiper-slide
                        figure
                            .image
                                img(src="./img/17.png", alt="")
                            figcaption
                                h3 
                                    a(href="javascript:void(0)") Lam Vien coffee shop
                                p Bai Tien, Pham Van Dong Street, Nha Trang City, Khanh Hoa Province
                    .swiper-slide
                        figure
                            .image
                                img(src="./img/18.png", alt="")
                            figcaption
                                h3 
                                    a(href="javascript:void(0)") Observatory in Nha Trang
                                p Bai Tien, Pham Van Dong Street, Nha Trang City, Khanh Hoa Province
            .main-button
                .swiper-prev
                    em.lnr.lnr-chevron-left
                .swiper-next
                    em.lnr.lnr-chevron-right