section.home-section4
    .section4-wrapper
        .container
            h2.alibu-title Stay
            .section4-wrapper-top
                .items
                    img(src="./img/5.png", alt="")
                    h3.alibu-description Champa décor
                    p Wake up to the sound and sight of the sea through your bed’s alluring drapes.
                .items
                    img(src="./img/6.png", alt="")
                    h3.alibu-description Private room
                    p The beach shimmers seductively from your private terrace.
                .items
                    img(src="./img/7.png", alt="")
                    h3.alibu-description Beautiful ocean vistas
                    p Wake up to the sound and sight of the sea through your bed’s alluring drapes.
            .section4-wrapper-bot
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            figure
                                .image
                                    img(src="./img/8.png", alt="")
                                figcaption
                                    h4 Hotel
                                    p Wake up to the sound and sight of the sea through your bed’s alluring drapes. The beach shimmers seductively from your private terrace.
                                    .btn-detail
                                        a(href="javascript:void(0)").text-btn Detail
                        .swiper-slide
                            figure
                                .image
                                    img(src="./img/9.png", alt="")
                                figcaption
                                    h4 Bungalow
                                    p Wake up to the sound and sight of the sea through your bed’s alluring drapes. The beach shimmers seductively from your private terrace.
                                    .btn-detail
                                        a(href="javascript:void(0)").text-btn Detail
                        .swiper-slide
                            figure
                                .image
                                    img(src="./img/10.png", alt="")
                                figcaption
                                    h4 Single
                                    p Wake up to the sound and sight of the sea through your bed’s alluring drapes. The beach shimmers seductively from your private terrace.
                                    .btn-detail
                                        a(href="javascript:void(0)").text-btn Detail
                .main-button
                    .swiper-prev
                        em.lnr.lnr-chevron-left
                    .swiper-next
                        em.lnr.lnr-chevron-right